@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing

<div id="blazortouchmenuid" class="sidebar">

    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Blazor.Webassembly.Chathubs</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">

            @foreach (var MenuItemModel in MenuItemModels)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@MenuItemModel.Href" Match="@MenuItemModel.NavLinkMatch">
                        <span class="oi @MenuItemModel.Icon" aria-hidden="true"></span> @MenuItemModel.Name
                    </NavLink>
                </li>
            }

        </ul>
    </div>

</div>

@code {

    [Parameter] public List<BlazorTouchMenuItemModel> MenuItemModels { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
